.task-builder-diagram {
    flex: 1;
    background-color: #3c3c3c !important;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
    color: #ddd;
}

.cms-bootstrap .PageContent {
    padding: 0 !important;
}

#aspnetForm,
.PageBody,
.PageContent,
#m_c_pnlBody,
#m_c_pnlContent,
#task-builder,
#task-builder .task-builder-area {
    height: 100%;
}

    #task-builder .task-builder-diagram-wrapper {
        height: 100%;
        display: flex;
        flex-flow: column;
        flex: 10;
    }

    #task-builder .task-builder-buttons {
        position: fixed;
        z-index: 100;
        top: 0;
        box-shadow: 0 0 8px #bdbbbb;
        width: 100%;
    }

        #task-builder .task-builder-buttons button {
            height: 4em;
            background: #fff;
            border: none;
        }

            #task-builder .task-builder-buttons button:hover {
                background: #d0e8ed;
            }

    #task-builder .task-builder-row {
        display: flex;
        height: 100%;
        box-sizing: border-box;
        padding-top: 4em;
    }

    #task-builder .task-builder-function-tray {
        flex: 1;
    }

    #task-builder .task-builder-tray-item {
        height: 1.2em;
        padding: 1em .5em;
        display: flex;
        cursor: grab;
    }

        #task-builder .task-builder-tray-item:hover {
            background-color: rgb(208, 232, 237) !important;
        }

        #task-builder .task-builder-tray-item i {
            flex: 1;
            text-align: center;
        }

        #task-builder .task-builder-tray-item span {
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 8;
            margin-top: -2px;
            margin-left: .5em;
        }

    #task-builder .task-builder-toast {
        margin-left: 1em;
        margin-top: 1em;
        position: fixed !important;
    }

    #task-builder .srd-default-link-path-selected {
        stroke-dasharray: 10,2;
        animation: dash 1s linear infinite
    }

        #task-builder .srd-default-link-path-selected path {
            stroke: rgba(255, 255, 255, 0.5) !important;
        }

    #task-builder .function {
        border-radius: 0.5em;
        white-space: nowrap;
        border: 0.2em solid transparent;
    }

        #task-builder .function .function-shadow {
            background-color: #1e1e1ed4;
            border-radius: 0.3em;
            overflow: hidden;
            box-shadow: 0.2em 0.4em 0.3em rgba(0, 0, 0, 0.5);
        }

    #task-builder .srd-node--selected .function {
        border: 0.2em solid rgb(208, 232, 237);
        box-shadow: 0.2em 0.4em 0.3em rgba(0, 0, 0, 0.5);
    }

        #task-builder .srd-node--selected .function .function-shadow {
            box-shadow: initial;
        }

    #task-builder .function-title {
        background: #000;
    }

    #task-builder .function-name {
        font-weight: 600;
        padding: 0.2em 0.5em;
        box-shadow: inset 0 0 10px #000;
    }

    #task-builder .function-ports {
        display: flex;
        background: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0));
    }

    #task-builder .function-in, .function-out {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    #task-builder .function-out {
        text-align: right;
    }

    #task-builder .port-invoke,
    #task-builder .port-dispatch,
    #task-builder .port-input,
    #task-builder .port-output {
        display: flex;
    }

    #task-builder .port-dispatch,
    #task-builder .port-output {
        justify-content: flex-end;
    }

    #task-builder .port {
        font-weight: bold;
        padding: 0.5em;
    }

    #task-builder .function-in .port-name {
        padding: 0.5em 0.5em 0.5em 0;
    }

    #task-builder .function-out .port-name {
        padding: 0.5em 0 0.5em 0.5em;
    }

    #task-builder .port.port-icon-selected {
        cursor: grab;
    }

    #task-builder .port-value select,
    #task-builder .port-value input {
        background: #333;
        color: #ddd;
        border: none;
    }

    #task-builder .port-value {
        padding: 0.3em 0;
    }

        #task-builder .port-value option {
            background: #333;
            padding: .1em .2em;
        }